body{
  background-color: white;
}
.wrapper{
  display: grid;
  grid-gap: 20px;
}

.header{
  border-style: solid;
  border-color: white;
  color: white;
  text-align: center;
  width: 100%;
  height: 100px;
  background: URL('imgs/jap-digital-rain.gif');
}
.area{
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  "a1 a2 a3"
  "a1 a2 a3"
}

.leftBox{
border-style: solid;
border-color: white;
background-color:white;
height: 900px;
width: 450px;
color: white;
grid-area: a1;
transition: 1s ease-in-out;
}
div.leftBox:hover{
  background-color:#707070;
}

.githubimg{
  /* border-style: solid;
  border-color: white; */
  margin-left: 180px;
  height: 100px;
  width: 100px;
}

.githubimg img{
  max-width: 100%;
  max-height: 100%;
}

.tomato-time{
  margin-left: 80px;
  /* border-style: solid;
  border-color: white; */
  height: 200px;
  width: 300px;
  text-align:center;
}

.tomato-time img{
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
  transform: scale(1.0);
  transition: all 500ms ease;
}

.tomato-time img:hover{
  transform: scale(1.2);
}

.tacoboutit{
  margin-left: 80px;
  margin-top: 30px;
  /* border-style: solid;
  border-color: white; */
  height: 200px;
  width: 300px;
  text-align:center;
}

.tacoboutit img{
  width: 300px;
  height: 200px;
  border-radius: 50%;
  transform: scale(1.0);
  transition: all 500ms ease;
}

.tacoboutit img:hover{
  transform: scale(1.2);
}
.railsengine{
  margin-left: 80px;
  margin-top: 50px;
  /* border-style: solid;
  border-color: white; */
  height: 200px;
  width: 300px;
  text-align:center;
}

.railsengine img{
  width: 300px;
  height: 200px;
  border-radius: 50%;
  transform: scale(1.0);
  transition: all 500ms ease;
}
.railsengine img:hover{
  transform: scale(1.2);
}

.sweaterweather{
  margin-left: 80px;
  /* margin-top: 50px; */
  /* border-style: solid;
  border-color: white; */
  height: 200px;
  width: 300px;
}

.sweaterweather img{
  width: 300px;
  height: 179.52px;
  border-radius: 50%;
  transform: scale(1.0);
  transition: all 500ms ease;
}
.sweaterweather img:hover{
  transform: scale(1.2);
}

.koroibos{
  margin-left: 80px;
  margin-top: 50px;
  /* border-style: solid;
  border-color: white; */
  height: 200px;
  width: 300px;
}

.koroibos img{
  width: 300px;
  height: 200px;
  border-radius: 50%;
  transform: scale(1.0);
  transition: all 500ms ease;
}
.koroibos img:hover{
  transform: scale(1.2);
}

.bfield{
  margin-left: 80px;
  margin-top: 30px;
  /* margin-top: 50px; */
  /* border-style: solid;
  border-color: white; */
  height: 200px;
  width: 300px;
}

.bfield img{
  width: 300px;
  height: 200px;
  border-radius: 50%;
  transform: scale(1.0);
  transition: all 500ms ease;
}
.bfield img:hover{
  transform: scale(1.2);
}


.centerBox{
  border-style: solid;
  border-color: white;
  background-color:white;
  transition: 1s ease-in-out;
  height: 600px;
  width: 450px;
  color: white;
  grid-area: a2;
  text-align: center;
}
div.centerBox:hover{
  background-color: #707070;
}

.scottimg{
  /* border-style: solid;
  border-color: white; */
  margin-left: 180px;
  height: 100px;
  width: 100px;
}

.scottimg img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.rightBox{
  border-style: solid;
  border-color: white;
  background-color: white;
  transition: 1s ease-in-out;
  height: 900px;
  width: 450px;
  color: white;
  grid-area: a3;
}
div.rightBox:hover{
  background-color: #707070;
}

.footer{
  color:black;
  text-align: center;
  width: auto;
  border-color: white;
}
